$yellow: #fffa19;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron {
	color: Black;
	background-color: $Yellow;
	@include margenes(50px, 10px);
}

footer {
	padding: 10px 10px 0px 10px;
	background-color: $Yellow;
	@include margenes(10px, 0px);
}

.card-hotel {
	flex: 1 200px;
	@include margenes(10px, 5px);	
}

.btn-reserva {
	width: 100%;
	border-radius: 0px;
}

.footer-address-icon {
	padding-right: 10px;
}

.tab-content {
	padding-top: 10px;
}